.content{
    background-color: white !important;
    padding: 4em 8em !important;
}

.faq-row-wrapper {

}

.faq-title {
    padding: 24px 0 !important;
}

.faq-body {
    
}

.faq-row {
        
}

.row-title {
    font-weight: 600;
    color: #252525;
}

.styles_faq-row-wrapper__3vA1D .styles_faq-row__2YF3c{
    padding: 24px 0 !important;
}