/*.content{
    background-color: white !important;
    padding: 4em 8em !important;
}

.faq-row-wrapper {

}

.faq-title {
    padding: 24px 0;
}

.faq-body {
    
}

.faq-row {
        
}

.faqBody .faqRow{
    padding: 24px 0 !important;
}

.row-title {
    font-weight: 600;
    color: #252525;
}

.row-content {
    
}

.row-content-text {
}
*/

.styles_faq-row-wrapper {
    padding: 4em 8em !important;

    .styles_faq-title {
        padding: 24px 0;

    }

    .styles_faq-body {

        .styles_faq-row {
            padding: 24px 0;

            .styles_row-title {
                font-weight: 600;
                color: #252525;
            }

            .styles_row-content {

                .styles_row-content-text {
                }
            }
        }
    }
}