.content{
    background-color: white !important;
    padding: 4em 8em !important;
}

.faq-row-wrapper {

}

.faq-title {
    padding: 24px 0;
}

.faq-body {
    
}

.faq-row {
        
}

.faq-body .faq-row{
    padding: 24px 0 !important;
}

.row-title {
    font-weight: 600;
    color: #252525;
}

.row-content {
    
}

.row-content-text {
}